@font-face {
	font-family: 'frente_h1regular';
	src: url('fonts/FrenteH1-Regular-webfont.eot');
	src: url('fonts/FrenteH1-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/FrenteH1-Regular-webfont.woff') format('woff'),
	url('fonts/FrenteH1-Regular-webfont.ttf') format('truetype'),
	url('fonts/FrenteH1-Regular-webfont.svg#frente_h1regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-right: 15px;
	padding-left: 15px;
}


.header {
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}

.header h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size:50pt;
	line-height: 40px;
	font-family: 'frente_h1regular', arial, sans-serif
}

#logo a, a:visited, a:active, a:hover {
text-decoration: none;
color: black;
}

.table a, a:visited, a:active {
	color : #088A85;
	text-decoration: none;
}

.table a:hover {
text-decoration: underline;
}

.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
	.container {
		max-width: 730px;
	}
}
.container-narrow > hr {
	margin: 30px 0;
}

.jumbotron {
	border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}

.button {
	color: #fff;
	background-color: #088A85;
	border-color: #088A85;
}

.feedbackPanel {
    list-style-type: none;
    padding: 2px;
}

.feedbackPanel li {
	padding: 5px;
	border-radius: 5px;
}
.feedbackPanel span { padding-left: 10px;}

.feedbackPanelERROR {
    background-color: #F78181;
}

.feedbackPanelSUCCESS {
    background-color: #A9F5A9;
}
