@font-face {
	font-family: 'frente_h1regular';
	src: url('fonts/FrenteH1-Regular-webfont.eot');
	src: url('fonts/FrenteH1-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/FrenteH1-Regular-webfont.woff') format('woff'),
	url('fonts/FrenteH1-Regular-webfont.ttf') format('truetype'),
	url('fonts/FrenteH1-Regular-webfont.svg#frente_h1regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, p, li { font-family: 'Yanone Kaffeesatz', arial, sans-serif;font-size:14pt;}
h2, h3 { font-family: 'Yanone Kaffeesatz', arial, sans-serif; }
h1 { font-family: 'frente_h1regular', arial, sans-serif}
body { margin:0;padding:0;}
#hd {
	width : 100%;
	height : 100px;
	background-color : #0B6138;
	margin-top : 0;
	padding-top : 10px;
	border-bottom : 1px solid #888;
	z-index : 0;
    text-align: center;
}

#logo,#bd {
	width : 650px;
	margin: 0 auto;
	padding: 25px 50px 0 50px;
}
#logo h1 {
	font-size:65pt;
}

#logo a, a:visited, a:active, a:hover {
    text-decoration: none;
    color: white;
}

body { margin-top : 0; padding-top : 0;}
#logo, #logo h1 { margin-top : 0; padding-top : 0;}
#bd {
	position : absolute;
	top : 95px;
	bottom : 75px;
	left : 50%;
	margin-left : -325px;
}

#bd a, a:visited, a:active {
	color : #0B6138;
	text-decoration: none;
}

#bd a:hover {
    text-decoration: underline;
}
h2 {
	padding : 0; margin:0;
	font-size:36pt;
	color:#0B6138;
}

h3 {
	padding : 0; margin:0;
	font-size:24pt;
	color:#0B6138;
}

thead tr {background: #CEF6D8}
tbody tr:nth-child(even) {background: #CEF6D8}
tbody tr:nth-child(odd) {background: #EFFBEF}

td {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
}